{#
/**
 * @file
 * Default theme implementation for a view template to display a list of as accordion.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_views_style_bct_accordion()
 */
#}
{% include  "@bootstrap_components_toolkit/bootstrap-accordion.html.twig" with {
  id: id,
  items: rows,
  style: '',
  classes: [],
} %}
