{#
/**
 * @file
 * Template for Bootstrap Card, an extension of Bootstrap Card.
 *
 * Available config:
 * - card_content: content of the card, usually in the form a render array.
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - is_dark: Wether to contrast using dark color
 * - rounded: Wether to round corners
 * - badge_content: The content of the badge.
 * - url: if an url is present, a wrapper will be set automatically.
 */
#}

<div class="card">
  {% if card_img_top or block('card_img_top') %}
    <div class="card-img-top">
      {% block card_img_top %}
        {{ card_img_top }}
      {% endblock %}
    </div>
  {% endif %}

  {% if card_content or block('card_content') %}
    <div class="card-body">
      {% block card_content %}
        {{ card_content }}
      {% endblock %}
    </div>
  {% endif %}

  {% if card_img_bottom or block('card_img_bottom') %}
    <div class="card-img-bottom">
      {% block card_img_bottom %}
        {{ card_img_bottom }}
      {% endblock %}
    </div>
  {% endif %}
</div>
