{#
/**
 * @file
 * Theme template for Bootstrap accordion
 *
 * Available variables:
 *  - id: A unique identifier.
 *  - items: An array containing the elements of the accordion.
 *  - style: flush | default
 *  - classes: An array of utility classes.
 */
#}
{% set attributes = safe_create_attribute(attributes) %}
{%
  set merged_classes = [
    'accordion',
    style == 'flush' ? 'accordion-flush',
  ] | merge(classes ? classes : [])
%}
<div id="{{ id }}" {{ attributes.addClass(merged_classes) }}>
  {% for item in items -%}
    {% include  "@bootstrap_components_toolkit/bootstrap-accordion--item.html.twig" with {
      parent_id: item.parent_id,
      item_id: item.item_id,
      is_open: item.is_open,
      always_open: item.always_open,
      header_text: item.header_text,
      header_tag: item.header_tag,
      body_content: item.body_content,
    } %}
  {% endfor %}
</div>
