{#
/**
 * @file
 * Theme template for Bootstrap accordion item
 *
 * Available variables:
 *  - parent_id: Parent id,
 *  - item_id: Item id,
 *  - is_open: Bolean, default value 'false',
 *  - always_open: Bolean, default value 'false',
 *  - header_text: Accordion heder title,
 *  - header_tag: Accorion header tag, default value 'div',
 *  - body_content: Accordion body content,
 */
#}

{% set button_collapse_status_class = is_open ? '' : 'collapsed' %}
{% set body_collapse_status_class = is_open ? 'collapse show' : 'collapse' %}
{% set collapse_status_boolean = is_open ? 'true' : 'false' %}
{% set header_tag = header_tag ? header_tag : 'div' %}
{% set parent_id = always_open ? '' : '#' ~ parent_id %}

<div class="accordion-item">
  <{{ header_tag }} class="accordion-header" id="heading-{{ item_id }}">
    <button aria-controls="collapse-{{ item_id }}" aria-expanded="{{ collapse_status_boolean }}" class="accordion-button {{ button_collapse_status_class }}" data-bs-target="#collapse-{{ item_id }}" data-bs-toggle="collapse" type="button">{{ header_text }}</button>
  </{{ header_tag }}>
  <div aria-labelledby="heading-{{ item_id }}" class="accordion-collapse {{ body_collapse_status_class }}" data-bs-parent="{{ parent_id }}" id="collapse-{{ item_id }}">
    <div class="accordion-body">
      {% block body_content %}
        {{ body_content }}
      {% endblock %}
    </div>
  </div>
</div>
